.DS_Store
/.build
/Packages
project.xcworkspace/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*.xcworkspacedata
*package.resolved
*.xcconfig
*.xcuserdatad
*.xcbkptlist
*.xcsettings

*.DS_Store